*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site__box {
    margin: 3px 20px;
    padding: 20px;
}

.input__dictionary {
    margin-top: 35px;
    margin-bottom: 35px ;
    padding: 10px;
    width: 1000px;
    padding-right: 57px;
    border: 2px solid #777;
    border-radius: 7px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

.site__search-btn {
    margin-left: 50px;
    padding: 13px 40px 13px 39px;
    background: #111111;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}

.box__resault {
    top: 60px;
    margin-top: 50px;
    padding: 37px 128px 308px 32px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.11);
    border-radius: 14px;
    
}

.about__the-result {
    margin-top: 50px;
}

.audio__sound {
    margin-top: 30px;
    margin-left: -17px;
}

.site__popular {
    margin-top: 25px;
}

.populate {
    text-align: center;
    color: crimson;
}

@media screen and (max-width: 1260px) {
    .input__dictionary {
        width: 900px;
    }
    
    .site__search-btn{
        margin-left: 5px;
    }

    .box__resault{
        height: 200px;
    }
}


@media screen and (max-width: 1115px) {
    .input__dictionary {
        width: 850px;
    }
}

@media screen and (max-width: 1115px) {
    .input__dictionary {
        width: 800px;
    }
}


@media screen and (max-width: 1015px) {
    .input__dictionary {
        width: 750px;
    }
} 


@media screen and (max-width: 965px) {
    .input__dictionary {
        width: 700px;
    }
}


@media screen and (max-width: 915px) {
    .input__dictionary {
        width: 650px;
    }
}  


@media screen and (max-width: 865px) {
    .input__dictionary {
        width: 600px;
    }
}

@media screen and (max-width: 815px) {
    .input__dictionary {
        width: 550px;
    }
}


@media screen and (max-width: 765px) {
    .input__dictionary {
        width: 500px;
    }
}


@media screen and (max-width: 715px) {
    .input__dictionary {
        width: 450px;
    }
}

@media screen and (max-width: 665px) {
    .input__dictionary {
        width: 400px;
    }
}

@media screen and (max-width: 615px) {
    .input__dictionary {
        width: 300px;
    }
}

@media screen and (max-width: 515px) {
    .input__dictionary {
        width: 250px;
    }
}

@media screen and (max-width: 464px) {
    .input__dictionary{
        width: 385px;
    }
    
    .site__search-btn {
        margin-left: 73px;
        width: 250px;
    }
}


@media screen and (max-width: 412px) {
    .input__dictionary {
        width: 300px;
    }

    .site__search-btn{
        padding: 10px;
    }

    .populate{
        font-size: 17px;
    }

    .site__resault-title {
        font-size: 21px;
    }

    .about__the-result {
        font-size: 12px;
    }
    
    .audio__sound {
        margin-right: 90px;
        font-size: 15px;
        width: 270px;
        height: 50px;
    }
}